/* Styling for the item container */
.item {
    width: 200px;
    text-align: center;
    margin: auto;
}

/* Styling for item images */
.item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain; /* Ensure images fit within bounds */
}

/* Styling for item names */
.item p {
    margin: 6px 0;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden; /* Prevent overflow of text */
    text-overflow: ellipsis; /* Add ellipsis for long names */
    white-space: nowrap; /* Keep text on a single line */
}

/* Styling for the prices container */
.item-prices {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

/* Styling for the new price */
.item-price-new {
    color: blue;
    font-size: 18px;
    font-weight: 600;
}

/* Styling for the old price */
.item-price-old {
    color: rgb(63, 63, 134);
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
}

/* Hover effect for the item container */
.item:hover {
    transform: scale(1.05);
    transition: transform 0.6s ease; /* Smooth transition for scaling */
}
